In [1]:
import numpy as np
import pandas as pd
# import matplotlib.pyplot as plt
# import seaborn as sns
# import scipy.stats as st

# Task 1

In [2]:
in_app_events = pd.read_excel(
    io='./DA_task_1.xlsx',
    sheet_name='in_app_events'
)

costs = pd.read_excel(
    io='./DA_task_1.xlsx',
    sheet_name='cost'
)

In [3]:
in_app_events.head()

,install_date,event_date,event_name,gross_event_revenue_usd,net_event_revenue_usd,event_source,media_channel,campaign,country_code,customer_user_id,platform_id
0,2021-12-30,2022-03-01,purchase,5.35,3.493,S2S,Facebook Ads,campaign_6,US,user_1,android
1,2021-12-30,2022-01-04,purchase,21.64,13.993,S2S,Facebook Ads,campaign_4,US,user_2,android
2,2021-12-31,2022-02-09,purchase,10.71,6.993,S2S,Facebook Ads,campaign_4,US,user_3,android
3,2021-12-31,2022-07-25,purchase,3.21,2.093,S2S,Facebook Ads,campaign_4,US,user_3,android
4,2021-12-31,2022-08-23,purchase,5.35,3.493,S2S,Facebook Ads,campaign_4,US,user_3,android

In [4]:
in_app_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8219 entries, 0 to 8218
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   install_date             8219 non-null   datetime64[ns]
 1   event_date               8219 non-null   datetime64[ns]
 2   event_name               8219 non-null   object
 3   gross_event_revenue_usd  8219 non-null   float64
 4   net_event_revenue_usd    8219 non-null   float64
 5   event_source             8219 non-null   object
 6   media_channel            8219 non-null   object
 7   campaign                 8219 non-null   object
 8   country_code             8219 non-null   object
 9   customer_user_id         8219 non-null   object
 10  platform_id              8219 non-null   object
dtypes: datetime64[ns](2), float64(2), object(7)
memory usage: 706.4+ KB

In [5]:
in_app_events.describe()

,install_date,event_date,gross_event_revenue_usd,net_event_revenue_usd
count,8219,8219,8219.000000,8219.000000
mean,2021-07-31 03:02:23.229103360,2022-03-13 16:47:14.797420800,17.048042,11.139964
min,2021-01-01 00:00:00,2021-01-01 00:00:00,0.000000,0.000000
25%,2021-01-19 00:00:00,2021-11-24 00:00:00,4.097750,2.793000
50%,2021-06-02 00:00:00,2022-04-15 00:00:00,6.923200,4.193000
75%,2021-12-31 00:00:00,2022-08-17 00:00:00,21.440000,14.000000
max,2021-12-31 00:00:00,2023-02-14 00:00:00,135.053200,75.629800
std,NaN,NaN,22.082981,14.576073

In [6]:
costs.head()

        date    campaign     media_channel platform country_code  cost
0 2021-04-05  campaign_3      Facebook Ads  ANDROID           AF     2
1 2021-04-03  campaign_3      Facebook Ads  ANDROID           PL   331
2 2021-01-08  campaign_2      Facebook Ads      IOS           US     0
3 2021-08-28  campaign_1  Apple Search Ads      IOS           CL    78
4 2021-06-01  campaign_1  Apple Search Ads      IOS           PH   399

In [7]:
costs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3030 entries, 0 to 3029
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           3030 non-null   datetime64[ns]
 1   campaign       3030 non-null   object
 2   media_channel  3030 non-null   object
 3   platform       3030 non-null   object
 4   country_code   3016 non-null   object
 5   cost           3030 non-null   int64
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 142.2+ KB

In [8]:
costs.describe()

                                date           cost
count                           3030    3030.000000
mean   2021-06-15 16:50:22.574257152     481.321122
min              2021-01-01 00:00:00       0.000000
25%              2021-04-03 00:00:00       0.000000
50%              2021-04-06 00:00:00       8.000000
75%              2021-09-17 00:00:00     139.000000
max              2021-12-31 00:00:00  122896.000000
std                              NaN    5339.244691

In [9]:
print(costs.columns)

print(in_app_events.columns)

Index(['date', 'campaign', 'media_channel', 'platform', 'country_code',
       'cost'],
      dtype='object')
Index(['install_date', 'event_date', 'event_name', 'gross_event_revenue_usd',
       'net_event_revenue_usd', 'event_source', 'media_channel ', 'campaign',
       'country_code', 'customer_user_id', 'platform_id'],
      dtype='object')

In [10]:
in_app_events.columns = in_app_events.columns.to_series().apply(str.strip).to_list()
costs['platform_id'] = costs['platform'].apply(str.lower)

cols = ('platform_id',  'campaign', 'media_channel', 'country_code')

for col in cols: 
    print("""
        IAE: {}
    
        C: {}
    """.format(
        in_app_events[col].value_counts().sort_index(),
        costs[col].value_counts().sort_index()
        )
    )

        IAE: platform_id
android    3890
ios        4329
Name: count, dtype: int64

        C: platform_id
android    1830
ios        1200
Name: count, dtype: int64


        IAE: campaign
campaign_1    2036
campaign_2    2117
campaign_3     153
campaign_4    3533
campaign_5     176
campaign_6     204
Name: count, dtype: int64

        C: campaign
campaign_1    1087
campaign_2      19
campaign_3    1450
campaign_4       5
campaign_5      94
campaign_6     375
Name: count, dtype: int64


        IAE: media_channel
Apple Search Ads    2036
Facebook Ads        6007
moloco_int           176
Name: count, dtype: int64

        C: media_channel
Apple Search Ads    1087
Facebook Ads        1849
moloco_int            94
Name: count, dtype: int64


        IAE: country_code
AR       1
AT       4
BA       1
BD       2
BE       3
      ...
UK      12
US    5679
UY       1
VN       1
ZA      18
Name: count, Length: 70, dtype: int64

        C: country_code
AD     7
AE    12
AF     7
AG    12
AL    10
      ..
YE    10
YT     7
ZA    89
ZM    10
ZW     9
Name: count, Length: 224, dtype: int64

In [11]:
cols_plus_date = (*cols, 'date')
in_app_events['date'] = in_app_events['event_date']
 
print("""
На ключе {}:

1) у in_app_events {} уникальных значений, {} в общем;
2) у costs {} уникальных значений, {} в общем (у {} country_code is null).

Эти датасеты можно было бы соединить, но этого не требуется и правильно получится только после агрегации.
""".format(
    cols_plus_date,
    in_app_events.groupby(list(cols_plus_date)).nunique().shape[0],
    in_app_events.shape[0],
    costs.groupby(list(cols_plus_date)).nunique().shape[0],
    costs.shape[0],
    costs[costs['country_code'].isnull()].shape[0]
    )
)

На ключе ('platform_id', 'campaign', 'media_channel', 'country_code', 'date'):

1) у in_app_events 2007 уникальных значений, 8219 в общем;
2) у costs 3016 уникальных значений, 3030 в общем (у 14 country_code is null).

Эти датасеты можно было бы соединить, но этого не требуется и правильно получится только после агрегации.

In [12]:
print("""
1) Правильно ли я понимаю, что funnel: spend/organic->click->install->purchase (revenue)? То есть, purchase невозможно без install?
(Потому что в данных из 1 задания есть 17 пользователей, купивших, но не установивших.)
>да
""")

1) Правильно ли я понимаю, что funnel: spend/organic->click->install->purchase (revenue)? То есть, purchase невозможно без install?
(Потому что в данных из 1 задания есть 17 пользователей, купивших, но не установивших.)
>да

In [13]:
installers = (in_app_events
    [in_app_events['event_name'] == 'install']
    ['customer_user_id']
    .unique()
)

payers = (in_app_events
    [in_app_events['event_name'] == 'purchase']
    ['customer_user_id']
    .unique()
)

paying_non_installers = set(payers).difference(set(installers))

list(paying_non_installers)

installers[np.isin(installers, paying_non_installers)]
payers[np.isin(payers, paying_non_installers)]

print("""
Предположим, что эти {} пользователей установили раньше
и были некорректно приписаны к рекламным кампаниям.
""".format(
        len(paying_non_installers)
    )
)

(in_app_events
     .loc[in_app_events['customer_user_id'].isin(paying_non_installers), ['campaign', 'event_name']]
     .value_counts()
)

Предположим, что эти 17 пользователей установили раньше
и были некорректно приписаны к рекламным кампаниям.

campaign    event_name
campaign_1  purchase      1838
campaign_2  purchase      1462
campaign_3  purchase         6
campaign_6  purchase         3
Name: count, dtype: int64

In [14]:
entry_distr = (in_app_events
     ['customer_user_id']
     .isin(paying_non_installers)
     .value_counts(normalize=True)
)

user_distr = (pd.Series((in_app_events
        ['customer_user_id']
        .unique()
        )
    ).isin(paying_non_installers)
    .value_counts(normalize=True)
)

print("""
Хотелось бы исключить их из анализируемых данных. И хоть это всего лишь {:.2%} пользователей,
их действия отвечают за {:.2%} от всех ивентов (прям Парето), так что теперь предположим,
что кампании влияют и на установивших: они переходят по ссылке, которая ведёт их в приложение.
""".format(
        user_distr[True],
        entry_distr[True]
    )
)

Хотелось бы исключить их из анализируемых данных. И хоть это всего лишь 2.33% пользователей,
их действия отвечают за 40.26% от всех ивентов (прям Парето), так что теперь предположим,
что кампании влияют и на установивших: они переходят по ссылке, которая ведёт их в приложение.

## Пункт 1
Пользуясь данными из датасета, посчитайте итоговые результаты проведения
каждой рекламной кампании:
1. Количество уникальных установок.
2. Количество уникальных плательщиков.
3. Суммарные затраты на проведение рекламных кампаний
4. Суммарную выручку привлеченных пользователей
5. Количество платежей привлеченных пользователей

**В первой клетке представлено решение на Python (для результата), в следующей — на SQL (для красоты).**

In [15]:
number_of_unique_installations = (in_app_events
    [in_app_events['event_name'] == 'install']
    ['campaign']
    .value_counts()
    .sort_index()
    .rename('number_of_unique_installations')
)

number_of_unique_installers = (in_app_events
    [in_app_events['event_name'] == 'install']
    .groupby('campaign')
    ['customer_user_id']
    .nunique()
    .rename('number_of_unique_installers')
)

print("""
1. Количество уникальных установок:
{}

Количество уникальных пользователей, совершивших установки:
{}

Сравнение возвращает {}, так что можно сделать вывод, что у каждого пользователя только одна установка (что не гарантировано).
""".format(
    number_of_unique_installations, 
    number_of_unique_installers, 
    number_of_unique_installations.equals(number_of_unique_installers)
    )
)

1. Количество уникальных установок:
campaign
campaign_1    123
campaign_2    156
campaign_3    122
campaign_4    104
campaign_5     94
campaign_6    114
Name: number_of_unique_installations, dtype: int64

Количество уникальных пользователей, совершивших установки:
campaign
campaign_1    123
campaign_2    156
campaign_3    122
campaign_4    104
campaign_5     94
campaign_6    114
Name: number_of_unique_installers, dtype: int64

Сравнение возвращает True, так что можно сделать вывод, что у каждого пользователя только одна установка (что не гарантировано).

In [16]:
sql_1 = """
--Redshift
select
    campaign,
    count(*)                                                     as number_of_unique_installations,
    count(distinct customer_user_id)                             as number_of_unique_installers,
    number_of_unique_installations = number_of_unique_installers as is_eq
from in_app_events as iae
where
    event_name = 'install'
group by
    1
order by
    1
"""

In [17]:
number_of_unique_payers = (in_app_events
    [in_app_events['event_name'] == 'purchase']
    .groupby('campaign')
    ['customer_user_id']
    .nunique()
    .rename('number_of_unique_payers')
)

total_number_of_unique_payers = (in_app_events
    [in_app_events['event_name'] == 'purchase']
    ['customer_user_id']
    .nunique()
)

print("""
2. Количество уникальных плательщиков:
{}

Суммарно по всем кампаниям: {}.

Количество уникальных плательщиков вне зависимости от кампании: {}.
Сравнение возвращает {}, так что можно сделать вывод, что нет пользователей,
привлечённых более чем одной кампанией (и это хорошо).
""".format(
    number_of_unique_payers,
    number_of_unique_payers.sum(), 
    total_number_of_unique_payers, 
    number_of_unique_payers.sum() == total_number_of_unique_payers
    )
)

2. Количество уникальных плательщиков:
campaign
campaign_1    23
campaign_2    26
campaign_3     6
campaign_4    18
campaign_5    16
campaign_6    16
Name: number_of_unique_payers, dtype: int64

Суммарно по всем кампаниям: 105.

Количество уникальных плательщиков вне зависимости от кампании: 105.
Сравнение возвращает True, так что можно сделать вывод, что нет пользователей,
привлечённых более чем одной кампанией (и это хорошо).

In [18]:
sql_2 = """
--Redshift
with
    by_campaign as (
        select
            campaign,
            count(distinct customer_user_id) as number_of_unique_payers
        from in_app_events as iae
        where
            event_name = 'purchase'
        group by
            1
    ),

    total as (
        select
            'total'::text                    as campaign,
            count(distinct customer_user_id) as number_of_unique_payers
        from in_app_events as iae
        where
            event_name = 'purchase'
    )

select
    campaign,
    number_of_unique_payers
from by_campaign as bc

union all

select
    campaign,
    number_of_unique_payers
from total as tt

union all

select
    'total_bc'                   as campaign,
    sum(number_of_unique_payers) as number_of_unique_payers
from by_campaign as bc

order by
    1
"""

In [19]:
total_campaign_costs = (costs
    .groupby('campaign')
    ['cost']
    .sum()
    .rename('total_campaign_costs')
)

print("""
3. Суммарные затраты на проведение рекламных кампаний:
{}

Суммарно по всем кампаниям: ${:,}.

Очень много. Слишком много.
""".format(
    total_campaign_costs,
    total_campaign_costs.sum()
    )
)

3. Суммарные затраты на проведение рекламных кампаний:
campaign
campaign_1    327633
campaign_2    511958
campaign_3    122298
campaign_4    281037
campaign_5     95042
campaign_6    120435
Name: total_campaign_costs, dtype: int64

Суммарно по всем кампаниям: $1,458,403.

Очень много. Слишком много.

In [20]:
sql_3 = """
--Redshift
select
    campaign,
    sum(cost) as total_campaign_costs
from costs as cst --E for Efficiency.
group by
    1
order by
    1
"""

In [21]:
total_campaign_revenue = (in_app_events
    [in_app_events['event_name'] == 'purchase']
    .groupby('campaign')
    ['net_event_revenue_usd']
     .sum()
    .rename('total_campaign_revenue')
)
#Предполагаю, что net_ более репрезентативен, чем gross_.
#А ещё мне ответили, что так оно и есть, так что теперь уверен.

answer_1_1 = """
1) Является ли net_event_revenue_usd лучшим показателем выручки, чем gross_event_revenue_usd
(который, как я полагаю, означает выручку до налогов и комиссий)?
>да, лучше использовать нэт
"""

print("""
4. Суммарная выручка привлеченных пользователей:
{}

Суммарно по всем кампаниям: ${:,.2f}.

Очень мало — особенно в сравнении с затратами.
""".format(
    total_campaign_revenue,
    total_campaign_revenue.sum()
    )
)

4. Суммарная выручка привлеченных пользователей:
campaign
campaign_1    14467.9373
campaign_2    29767.5000
campaign_3      110.8340
campaign_4    46872.4970
campaign_5      111.8082
campaign_6      228.7846
Name: total_campaign_revenue, dtype: float64

Суммарно по всем кампаниям: $91,559.36.

Очень мало — особенно в сравнении с затратами.

In [22]:
sql_4 = """
--Redshift
select
    campaign,
    sum(net_event_revenue_usd) as total_campaign_revenue
from in_app_events as iae
where
    event_name = 'purchase'
group by
    1
order by
    1
"""

In [23]:
total_campaign_payment_count = (in_app_events
    [in_app_events['event_name'] == 'purchase']
    .groupby('campaign')
    ['customer_user_id']
     .count()
    .rename('total_campaign_payment_count')
)

print("""
5. Количество платежей привлеченных пользователей
{}

Суммарно по всем кампаниям: {:,}.
""".format(
    total_campaign_payment_count,
    total_campaign_payment_count.sum()
    )
)

5. Количество платежей привлеченных пользователей
campaign
campaign_1    1913
campaign_2    1961
campaign_3      31
campaign_4    3429
campaign_5      82
campaign_6      90
Name: total_campaign_payment_count, dtype: int64

Суммарно по всем кампаниям: 7,506.

In [24]:
sql_5 = """
--Redshift
select
    campaign,
    count(*) as total_campaign_payment_count
from in_app_events as iae
where
    event_name = 'purchase'
group by
    1
order by
    1
"""


sql_all = """
--Redshift
with
    inst_agg as (
        select
            campaign,

            count(*)                         as number_of_unique_installations,
            count(distinct customer_user_id) as number_of_unique_installers
        from in_app_events as iae
        where
            event_name = 'install'
        group by
            1
    ),

    pur_agg as (
        select
            campaign,

            count(distinct customer_user_id) as number_of_unique_payers,
            sum(net_event_revenue_usd)       as total_campaign_revenue,
            count(*)                         as total_campaign_payment_count
        from in_app_events as iae
        where
            event_name = 'purchase'
        group by
            1
    ),

    cost_agg as (
        select
            campaign,
            sum(cost) as total_campaign_costs
        from costs as cst --E for Efficiency.
        group by
            1
    )

select
    ia.campaign,
    
    ia.number_of_unique_installations,
    ia.number_of_unique_installers,
    
    pa.number_of_unique_payers,
    pa.total_campaign_revenue,
    pa.total_campaign_payment_count,
    
    ca.total_campaign_costs
from inst_agg as ia
inner join pur_agg as pa --Can do full outer join just in case, but no need here.
on ia.campaign = pa.campaign
inner join cost_agg as ca
on ia.campaign = ca.campaign
order by
    1
"""

In [25]:
answer1_2 = """
Это нормально, что кампании провалились с треском (прибыль меньше затрат в 16 раз)?
"Так бывает" или что-то не так с моими расчётами (или с данными)?

>нет, не нормально, вероятно проблема в данных, можно попробовать выдвинуть гипотезы,
почему случается такой провал, и прислать их списком, мы провалидируем и выберем верные,
которые можно будет применить, либо решить самостоятельно
"""

print("""
3. Суммарные затраты на проведение рекламных кампаний:
{}

Суммарно по всем кампаниям: ${:,}.
""".format(
    total_campaign_costs,
    total_campaign_costs.sum()
    )
)

3. Суммарные затраты на проведение рекламных кампаний:
campaign
campaign_1    327633
campaign_2    511958
campaign_3    122298
campaign_4    281037
campaign_5     95042
campaign_6    120435
Name: total_campaign_costs, dtype: int64

Суммарно по всем кампаниям: $1,458,403.

In [26]:
campaign_dates = (in_app_events
    .groupby('campaign')
    ['event_date']
    .agg(['min', 'max', 'nunique'])
    .rename({
        'min': 'start_date',
        'max': 'end_date',
        'nunique': 'length_days'
    }, axis=1)
)
campaign_dates

           start_date   end_date  length_days
campaign
campaign_1 2021-01-02 2023-02-14          608
campaign_2 2021-01-01 2023-02-12          539
campaign_3 2021-04-01 2021-05-07           15
campaign_4 2021-12-29 2023-02-13          367
campaign_5 2021-12-30 2022-02-12           24
campaign_6 2021-12-29 2022-10-13           41

In [27]:
# А теперь посмотрим, как распределяются платежи кампаний по датам:
costs['year_month'] = costs['date'].dt.strftime('%Y-%m')
costs.groupby(['campaign', 'platform', 'year_month'])['cost'].sum().sort_index()

campaign    platform  year_month
campaign_1  IOS       2021-01        10134
                      2021-02        29785
                      2021-03        12874
                      2021-04        39064
                      2021-05        41678
                      2021-06        29244
                      2021-07        42160
                      2021-08        20985
                      2021-09        25186
                      2021-10        39112
                      2021-11        14929
                      2021-12        22482
campaign_2  IOS       2021-01       511958
campaign_3  ANDROID   2021-04       122298
campaign_4  ANDROID   2021-12       281037
campaign_5  IOS       2021-12        95042
campaign_6  ANDROID   2021-12       120435
Name: cost, dtype: int64

Слишком много. Особенно кампании 2, 3, 4, которые в одном месяце потратили без сотни миллион долларов.

Согласно [WebFX](https://www.webfx.com/social-media/pricing/how-much-does-facebook-advertising-cost/#:~:text=On%20average%2C%20Facebook%20ads%20cost,on%20their%20Facebook%20ad%20campaign.), в месяц Facebook Ads обходятся компании от \\$1.00 до \\$500.00, хотя может доходить и до \\$3000.

Если это верно для 2021 так же, как это верно сейчас в 2024, то поправить данные можно, разделив `cost` на __100.0__ (то есть, предположив, что текущие траты не в долларах, а в центах).

In [28]:
costs['cost'] = costs['cost'] / 100.0

In [29]:
total_campaign_costs = (costs
    .groupby('campaign')
    ['cost']
    .sum()
    .rename('total_campaign_costs')
)

print("""
3. Суммарные затраты на проведение рекламных кампаний:
{}

Суммарно по всем кампаниям: ${:,.2f}.

Так-то лучше: у некоторых даже ROI получается положительный.
""".format(
    total_campaign_costs,
    total_campaign_costs.sum()
    )
)

3. Суммарные затраты на проведение рекламных кампаний:
campaign
campaign_1    3276.33
campaign_2    5119.58
campaign_3    1222.98
campaign_4    2810.37
campaign_5     950.42
campaign_6    1204.35
Name: total_campaign_costs, dtype: float64

Суммарно по всем кампаниям: $14,584.03.

Так-то лучше: у некоторых даже ROI получается положительный.

## Пункт 2
Посчитайте метрики эффективности для каждой кампании из Задания 1.

Достаточно 5 метрик. Выбор метрик - на усмотрение кандидата.

In [30]:
combined_campaign = pd.concat(
    objs=(
        number_of_unique_installations,
        number_of_unique_payers,
        total_campaign_costs,
        total_campaign_revenue,
        total_campaign_payment_count,
        campaign_dates['length_days']
    ),
    axis=1
)
combined_campaign

,number_of_unique_installations,number_of_unique_payers,total_campaign_costs,total_campaign_revenue,total_campaign_payment_count,length_days
campaign,,,,,,
campaign_1,123,23,3276.33,14467.9373,1913,608
campaign_2,156,26,5119.58,29767.5000,1961,539
campaign_3,122,6,1222.98,110.8340,31,15
campaign_4,104,18,2810.37,46872.4970,3429,367
campaign_5,94,16,950.42,111.8082,82,24
campaign_6,114,16,1204.35,228.7846,90,41

С этими данными я могу посчитать:
1. CV (conversion: install->pay) +
2. ROI (return on investment) +
3. CAC (customer acquisition cost) -
4. ARPU (average revenue per user) +
5. APCPU (average payment count per user) +
6. APCPUPD (average payment count per user per day) +
7. AOV (average order value) +

"+" означает "чем больше, тем лучше".

"-" означает "чем меньше, тем лучше".

In [31]:
combined_campaign['cv'] = combined_campaign['number_of_unique_payers'] / combined_campaign['number_of_unique_installations']
combined_campaign['cv']

campaign
campaign_1    0.186992
campaign_2    0.166667
campaign_3    0.049180
campaign_4    0.173077
campaign_5    0.170213
campaign_6    0.140351
Name: cv, dtype: float64

In [32]:
combined_campaign['roi'] = (combined_campaign['total_campaign_revenue'] - combined_campaign['total_campaign_costs']) / combined_campaign['total_campaign_costs']
combined_campaign['roi']

campaign
campaign_1     3.415897
campaign_2     4.814442
campaign_3    -0.909374
campaign_4    15.678408
campaign_5    -0.882359
campaign_6    -0.810035
Name: roi, dtype: float64

In [33]:
combined_campaign['cac_inst'] = -combined_campaign['total_campaign_costs'] / combined_campaign['number_of_unique_installations']
combined_campaign['cac_inst']

campaign
campaign_1   -26.636829
campaign_2   -32.817821
campaign_3   -10.024426
campaign_4   -27.022788
campaign_5   -10.110851
campaign_6   -10.564474
Name: cac_inst, dtype: float64

In [34]:
combined_campaign['cac_pay'] = -combined_campaign['total_campaign_costs'] / combined_campaign['number_of_unique_payers']
combined_campaign['cac_pay']

campaign
campaign_1   -142.449130
campaign_2   -196.906923
campaign_3   -203.830000
campaign_4   -156.131667
campaign_5    -59.401250
campaign_6    -75.271875
Name: cac_pay, dtype: float64

In [35]:
combined_campaign['arpu'] = combined_campaign['total_campaign_revenue'] / combined_campaign['number_of_unique_payers']

"""
Результат совпадает с
(in_app_events
    [in_app_events['event_name'] == 'purchase']
    .groupby(['campaign', 'customer_user_id'])
    ['net_event_revenue_usd']
    .sum()
    .reset_index()
    .groupby(['campaign'])
    ['net_event_revenue_usd']
    .mean()
)
так что можно считать, что посчитано верно.
"""

combined_campaign['arpu']

campaign
campaign_1     629.040752
campaign_2    1144.903846
campaign_3      18.472333
campaign_4    2604.027611
campaign_5       6.988012
campaign_6      14.299038
Name: arpu, dtype: float64

In [36]:
combined_campaign['apcpu'] = combined_campaign['total_campaign_payment_count'] / combined_campaign['number_of_unique_payers']
combined_campaign['apcpu']

campaign
campaign_1     83.173913
campaign_2     75.423077
campaign_3      5.166667
campaign_4    190.500000
campaign_5      5.125000
campaign_6      5.625000
Name: apcpu, dtype: float64

In [37]:
combined_campaign['apcpupd'] = combined_campaign['apcpu'] /combined_campaign['length_days']
combined_campaign['apcpupd']

campaign
campaign_1    0.136799
campaign_2    0.139931
campaign_3    0.344444
campaign_4    0.519074
campaign_5    0.213542
campaign_6    0.137195
Name: apcpupd, dtype: float64

In [38]:
combined_campaign['aov'] = combined_campaign['total_campaign_revenue'] / combined_campaign['total_campaign_payment_count']

"""
Результат совпадает с
(in_app_events
    [in_app_events['event_name'] == 'purchase']
    .groupby('campaign')
    ['net_event_revenue_usd']
    .mean()
)
так что можно считать, что посчитано верно.
"""

combined_campaign['aov']

campaign
campaign_1     7.562957
campaign_2    15.179755
campaign_3     3.575290
campaign_4    13.669436
campaign_5     1.363515
campaign_6     2.542051
Name: aov, dtype: float64

In [39]:
metric_columns = ['cv', 'roi', 'cac_inst', 'cac_pay', 'arpu', 'apcpu', 'apcpupd', 'aov']

metrics = combined_campaign.loc[:, metric_columns]
metrics

,cv,roi,cac_inst,cac_pay,arpu,apcpu,apcpupd,aov
campaign,,,,,,,,
campaign_1,0.186992,3.415897,-26.636829,-142.449130,629.040752,83.173913,0.136799,7.562957
campaign_2,0.166667,4.814442,-32.817821,-196.906923,1144.903846,75.423077,0.139931,15.179755
campaign_3,0.049180,-0.909374,-10.024426,-203.830000,18.472333,5.166667,0.344444,3.575290
campaign_4,0.173077,15.678408,-27.022788,-156.131667,2604.027611,190.500000,0.519074,13.669436
campaign_5,0.170213,-0.882359,-10.110851,-59.401250,6.988012,5.125000,0.213542,1.363515
campaign_6,0.140351,-0.810035,-10.564474,-75.271875,14.299038,5.625000,0.137195,2.542051

In [40]:
total_costs = combined_campaign['total_campaign_costs'].sum()
total_revenue = combined_campaign['total_campaign_revenue'].sum()
roi_cc = combined_campaign['roi']

# Анализ можно начать с того факта, что рекламная кампания во всех 6 вариациях оказалась провальной:
# ROI в среднем {:.2%} (колеблется между {:.2%} и {:.2%}).

print("""
Анализ можно начать с того факта, что ROI в среднем {:.2%} (колеблется между {:.2%} и {:.2%}).
Суммарные затраты: ${:,.2f}.
Суммарная прибыль: ${:,.2f} (в {:.2f} раз больше).
""".format(
    roi_cc.mean(),
    roi_cc.min(),
    roi_cc.max(),
    total_costs,
    total_revenue,
    total_revenue / total_costs
    )
)

Анализ можно начать с того факта, что ROI в среднем 355.12% (колеблется между -90.94% и 1567.84%).
Суммарные затраты: $14,584.03.
Суммарная прибыль: $91,559.36 (в 6.28 раз больше).

Приблизительно на этом анализ и закончу, потому что требуется расчёт метрик, а не сравнение кампаний (но всё же попытку оценить, какая из них наиболее успешная или хотя бы наименее неуспешная, добавлю в конец, не зря же я их считал — уважаемые проверяющие могут посмотреть, если будет такое желание).

## Пункт 3
Выберете, по вашему мнению, самый эффективный
- канал (`media_channel`);
- географию (`country_code`);
- платформу (`platform`).

Объясните свой выбор на данных.

In [41]:
categories = ('media_channel', 'country_code', 'platform_id')
# category = categories[0]

for category in categories:
    print(in_app_events[category].value_counts())
    print(costs[category].value_counts())

media_channel
Facebook Ads        6007
Apple Search Ads    2036
moloco_int           176
Name: count, dtype: int64
media_channel
Facebook Ads        1849
Apple Search Ads    1087
moloco_int            94
Name: count, dtype: int64
country_code
US    5679
DK    1392
TH     550
RU     179
PH      45
      ...
LY       1
UY       1
EC       1
GU       1
ID       1
Name: count, Length: 70, dtype: int64
country_code
TH    313
PH    242
DK    205
FI    126
ZA     89
     ...
GW      1
PW      1
CU      1
TK      1
ER      1
Name: count, Length: 224, dtype: int64
platform_id
ios        4329
android    3890
Name: count, dtype: int64
platform_id
android    1830
ios        1200
Name: count, dtype: int64

In [42]:
def calc_metrics(category='campaign'):
    # Переиспользуем расчёты для произвольных категорий.
    
    number_of_unique_installations = (in_app_events
        [in_app_events['event_name'] == 'install']
        [category]
        .value_counts()
        .sort_index()
        .rename('number_of_unique_installations')
    )
    
    number_of_unique_payers = (in_app_events
        [in_app_events['event_name'] == 'purchase']
        .groupby(category)
        ['customer_user_id']
        .nunique()
        .rename('number_of_unique_payers')
    )
    
    total_campaign_costs = (costs
        .groupby(category)
        ['cost']
        .sum()
        .rename('total_campaign_costs')
    )
    
    total_campaign_revenue = (in_app_events
        [in_app_events['event_name'] == 'purchase']
        .groupby(category)
        ['net_event_revenue_usd']
         .sum()
        .rename('total_campaign_revenue')
    )
    
    total_campaign_payment_count = (in_app_events
        [in_app_events['event_name'] == 'purchase']
        .groupby(category)
        ['customer_user_id']
        .count()
        .rename('total_campaign_payment_count')
    )
    
    combined_campaign = pd.concat(
        objs=(
            number_of_unique_installations,
            number_of_unique_payers,
            total_campaign_costs,
            total_campaign_revenue,
            total_campaign_payment_count
        ),
        axis=1
    )

    combined_campaign['cv'] = combined_campaign['number_of_unique_payers'] / combined_campaign['number_of_unique_installations']
    combined_campaign['roi'] = (combined_campaign['total_campaign_revenue'] - combined_campaign['total_campaign_costs']) / combined_campaign['total_campaign_costs']
    combined_campaign['cac_inst'] = -combined_campaign['total_campaign_costs'] / combined_campaign['number_of_unique_installations']
    combined_campaign['cac_pay'] = -combined_campaign['total_campaign_costs'] / combined_campaign['number_of_unique_payers']
    combined_campaign['arpu'] = combined_campaign['total_campaign_revenue'] / combined_campaign['number_of_unique_payers']
    combined_campaign['apcpu'] = combined_campaign['total_campaign_payment_count'] / combined_campaign['number_of_unique_payers']
    combined_campaign['aov'] = combined_campaign['total_campaign_revenue'] / combined_campaign['total_campaign_payment_count']
    
    return combined_campaign

In [43]:
res_dict = {}
for category in categories:
    res_dict[category] = calc_metrics(category)

In [44]:
metric_columns.remove('apcpupd')
categories

('media_channel', 'country_code', 'platform_id')

In [45]:
res_dict['media_channel'].loc[:, metric_columns].sort_values(
    'roi',
    ascending=False
)

,cv,roi,cac_inst,cac_pay,arpu,apcpu,aov
media_channel,,,,,,,
Facebook Ads,0.133065,6.432416,-20.881613,-156.928485,1166.357812,83.500000,13.968357
Apple Search Ads,0.186992,3.415897,-26.636829,-142.449130,629.040752,83.173913,7.562957
moloco_int,0.170213,-0.882359,-10.110851,-59.401250,6.988012,5.125000,1.363515

**Facebook Ads** выглядит вне конкуренции: несмотря на самую низкую конверсию (CV) и высокие показатели CAC, он сильно обходит остальные каналы по ROI и ARPU, AOV и немного по APCPU (да, они коррелируют, но всё же разница в первых двух случаях внушительная).

In [46]:
# Очень много значений, причём многие из них пустые, будет удобнее их убрать:
res_dict['country_code'] = res_dict['country_code'].loc[~res_dict['country_code']['cv'].isnull(), :]

res_dict['country_code'].loc[:, metric_columns].sort_values(
    ['arpu', 'roi', 'aov'],
    ascending=False
)

,cv,roi,cac_inst,cac_pay,arpu,apcpu,aov
country_code,,,,,,,
DK,0.218750,12.929871,-26.430000,-120.822857,1683.046857,194.285714,8.662741
US,0.172794,8.329549,-30.233824,-174.970213,1632.393149,115.042553,14.189473
TH,0.145455,0.567254,-29.320545,-201.578750,315.925187,61.875000,5.105862
KR,0.250000,-0.735222,-72.710000,-290.840000,77.008100,21.000000,3.667052
CO,1.000000,5.781048,-6.680000,-6.680000,45.297400,40.000000,1.132435
RS,0.500000,13.448011,-1.382500,-2.765000,39.948750,16.000000,2.496797
ZA,0.125000,-0.376812,-6.626250,-53.010000,33.035200,10.000000,3.303520
IE,0.333333,0.203771,-5.046667,-15.140000,18.225100,7.000000,2.603586
UK,0.333333,-0.738820,-17.915000,-53.745000,14.037100,3.000000,4.679033
PH,0.088235,-0.923623,-13.169412,-149.253333,11.399467,3.666667,3.108945
GR,0.333333,-0.086933,-3.521667,-10.565000,9.646550,4.000000,2.411637
NL,1.000000,-0.827210,-51.110000,-51.110000,8.831300,3.000000,2.943767
RU,0.180851,-0.880130,-10.219255,-56.506471,6.773429,5.000000,1.354686
AT,1.000000,-0.877872,-51.260000,-51.260000,6.260300,3.000000,2.086767
DE,0.285714,-0.913357,-20.400000,-71.400000,6.186300,1.000000,6.186300
CL,0.444444,-0.866352,-18.752222,-42.192500,5.638925,2.000000,2.819463
TW,0.333333,-0.919493,-15.516667,-46.550000,3.747600,1.000000,3.747600
CZ,0.166667,-0.873449,-3.851667,-23.110000,2.924600,1.000000,2.924600
NZ,1.000000,-0.890258,-13.960000,-13.960000,1.532000,2.000000,0.766000
CA,0.333333,-0.979344,-21.430000,-64.290000,1.328000,1.000000,1.328000

**DK** (Denmark-Дания, я полагаю) и **US** (США) на несколько голов выше остальных стран (ближайший соперник на 3 месте имеет ARPU более чем в пять \[!!!\] раз ниже).

In [47]:
res_dict['country_code'].loc[:, metric_columns].sort_values(
    ['arpu', 'roi', 'aov'],
    ascending=False
).head(2)

,cv,roi,cac_inst,cac_pay,arpu,apcpu,aov
country_code,,,,,,,
DK,0.218750,12.929871,-26.430000,-120.822857,1683.046857,194.285714,8.662741
US,0.172794,8.329549,-30.233824,-174.970213,1632.393149,115.042553,14.189473

Между ними я выбираю **DK**, так как:
- ROI в полтора раза больше (и почти достигает **1300%**!);
- CAC ниже — особенно **pay**;
- CV выше;
- ARPU немногим выше практически вдвое;
- APCPU больше на треть.
 
Да, AOV ниже (почти в два раза), но этого недостаточно, чтобы перечеркнуть все плюсы.

In [48]:
res_dict['platform_id'].loc[:, metric_columns].sort_values(
    metric_columns,
    ascending=False
)

,cv,roi,cac_inst,cac_pay,arpu,apcpu,aov
platform_id,,,,,,,
ios,0.174263,3.744883,-25.057185,-143.789692,682.265315,60.861538,11.210123
android,0.117647,8.013902,-15.405000,-130.942500,1180.302890,88.750000,13.299187

Несмотря на то, что конверсия у **iOS** выше, чем у **Android**, все остальные метрики у последнего гораздо лучше:
- ROI вдвое больше (и достигает **800%**!);
- CAC ниже — особенно **install**;
- ARPU выше практически вдвое;
- APCPU выше на треть;
- AOV тоже выше (пусть и не намного).

Поэтому я считаю **Android** самой эффективной платформой.

Самый эффективный
- канал (`media_channel`) — **Facebook Ads**;
- география (`country_code`) — **DK**;
- платформа (`platform`) — **Android**.

Хочу заметить, что моя оценка эффективности не является рекомендацией *нести все деньги именно в эти три казино*. Опыт успешности/неуспешности кампании в канале/географии/платформе должен информировать решение, но не определять его. В противном случае есть риск искать новых пользователей там, где все уже установили это приложение (маловероятно), или серьёзно вложиться, основываясь исключительно на необязательно повторяемом кратковременном успехе (гораздо вероятнее).

### Дополнение к Пункту 2

А теперь выберем самую лучшую и самую худшую кампанию.

In [49]:
metrics

,cv,roi,cac_inst,cac_pay,arpu,apcpu,apcpupd,aov
campaign,,,,,,,,
campaign_1,0.186992,3.415897,-26.636829,-142.449130,629.040752,83.173913,0.136799,7.562957
campaign_2,0.166667,4.814442,-32.817821,-196.906923,1144.903846,75.423077,0.139931,15.179755
campaign_3,0.049180,-0.909374,-10.024426,-203.830000,18.472333,5.166667,0.344444,3.575290
campaign_4,0.173077,15.678408,-27.022788,-156.131667,2604.027611,190.500000,0.519074,13.669436
campaign_5,0.170213,-0.882359,-10.110851,-59.401250,6.988012,5.125000,0.213542,1.363515
campaign_6,0.140351,-0.810035,-10.564474,-75.271875,14.299038,5.625000,0.137195,2.542051

In [50]:
for col in metrics.columns:
    metrics.loc[:, "{}_rank".format(col)] = metrics.loc[:, col].rank(ascending=False)

In [51]:
metrics_ranks = metrics.loc[:, ['cv_rank', 'roi_rank', 'cac_inst_rank', 'cac_pay_rank', 'arpu_rank', 'apcpu_rank', 'apcpupd_rank', 'aov_rank']]
metrics_ranks

,cv_rank,roi_rank,cac_inst_rank,cac_pay_rank,arpu_rank,apcpu_rank,apcpupd_rank,aov_rank
campaign,,,,,,,,
campaign_1,1.0,3.0,4.0,3.0,3.0,2.0,6.0,3.0
campaign_2,4.0,2.0,6.0,5.0,2.0,3.0,4.0,1.0
campaign_3,6.0,6.0,1.0,6.0,4.0,5.0,2.0,4.0
campaign_4,2.0,1.0,5.0,4.0,1.0,1.0,1.0,2.0
campaign_5,3.0,5.0,2.0,1.0,6.0,6.0,3.0,6.0
campaign_6,5.0,4.0,3.0,2.0,5.0,4.0,5.0,5.0

In [52]:
metrics_ranks.mean(axis=1)

campaign
campaign_1    3.125
campaign_2    3.375
campaign_3    4.250
campaign_4    2.125
campaign_5    4.000
campaign_6    4.125
dtype: float64

Лучшей выглядит 4 кампания, но метрики коррелируют (а значит, коррелируют и их ранги), так что её успех может быть ложным.

In [53]:
mc = metrics.loc[:, ['cv', 'roi', 'cac_inst', 'cac_pay', 'arpu', 'apcpu', 'apcpupd', 'aov']].corr()
mc

,cv,roi,cac_inst,cac_pay,arpu,apcpu,apcpupd,aov
cv,1.000000,0.428356,-0.573265,0.395004,0.426773,0.490240,-0.229314,0.394368
roi,0.428356,1.000000,-0.685669,-0.319795,0.994687,0.986522,0.675276,0.793244
cac_inst,-0.573265,-0.685669,1.000000,0.516934,-0.728451,-0.753709,-0.025503,-0.936846
cac_pay,0.395004,-0.319795,0.516934,1.000000,-0.364890,-0.338616,-0.299992,-0.616621
arpu,0.426773,0.994687,-0.728451,-0.364890,1.000000,0.978074,0.642616,0.844583
apcpu,0.490240,0.986522,-0.753709,-0.338616,0.978074,1.000000,0.594801,0.808476
apcpupd,-0.229314,0.675276,-0.025503,-0.299992,0.642616,0.594801,1.000000,0.265924
aov,0.394368,0.793244,-0.936846,-0.616621,0.844583,0.808476,0.265924,1.000000

In [54]:
mc[abs(mc) > 0.5]

,cv,roi,cac_inst,cac_pay,arpu,apcpu,apcpupd,aov
cv,1.000000,NaN,-0.573265,NaN,NaN,NaN,NaN,NaN
roi,NaN,1.000000,-0.685669,NaN,0.994687,0.986522,0.675276,0.793244
cac_inst,-0.573265,-0.685669,1.000000,0.516934,-0.728451,-0.753709,NaN,-0.936846
cac_pay,NaN,NaN,0.516934,1.000000,NaN,NaN,NaN,-0.616621
arpu,NaN,0.994687,-0.728451,NaN,1.000000,0.978074,0.642616,0.844583
apcpu,NaN,0.986522,-0.753709,NaN,0.978074,1.000000,0.594801,0.808476
apcpupd,NaN,0.675276,NaN,NaN,0.642616,0.594801,1.000000,NaN
aov,NaN,0.793244,-0.936846,-0.616621,0.844583,0.808476,NaN,1.000000

Отбросим `cac_inst, arpu, apcpu, apcpu, apcpupd, aov`.

In [55]:
relevant_columns = ['cv', 'roi', 'cac_pay']

mc.loc[relevant_columns, relevant_columns]

               cv       roi   cac_pay
cv       1.000000  0.428356  0.395004
roi      0.428356  1.000000 -0.319795
cac_pay  0.395004 -0.319795  1.000000

In [56]:
metrics_ranks[[rc + '_rank' for rc in relevant_columns]].mean(axis=1)

campaign
campaign_1    2.333333
campaign_2    3.666667
campaign_3    6.000000
campaign_4    2.333333
campaign_5    3.000000
campaign_6    3.666667
dtype: float64

После сокращения показателей **4** кампания делит первое место с **1** (которая длилась практически целый год), но я всё равно отдаю предпочтение **4**, слишком уж взрывной она была (не факт, что это бы сохранилось, продлись она больше трёх дней, но всё же).


Ну а худшая кампания **3**:
- антирекорд по ROI;
- самый большой CAC по pay;
- низкие A(RPU/PCPU/PCPUPD/OV).