In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as st

# Task 1

In [13]:
in_app_events = pd.read_excel(
    io='./DA_task_1.xlsx',
    sheet_name='in_app_events'
)

In [19]:
in_app_events.head()

,install_date,event_date,event_name,gross_event_revenue_usd,net_event_revenue_usd,event_source,media_channel,campaign,country_code,customer_user_id,platform_id
0,2021-12-30,2022-03-01,purchase,5.35,3.493,S2S,Facebook Ads,campaign_6,US,user_1,android
1,2021-12-30,2022-01-04,purchase,21.64,13.993,S2S,Facebook Ads,campaign_4,US,user_2,android
2,2021-12-31,2022-02-09,purchase,10.71,6.993,S2S,Facebook Ads,campaign_4,US,user_3,android
3,2021-12-31,2022-07-25,purchase,3.21,2.093,S2S,Facebook Ads,campaign_4,US,user_3,android
4,2021-12-31,2022-08-23,purchase,5.35,3.493,S2S,Facebook Ads,campaign_4,US,user_3,android

In [21]:
in_app_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8219 entries, 0 to 8218
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   install_date             8219 non-null   datetime64[ns]
 1   event_date               8219 non-null   datetime64[ns]
 2   event_name               8219 non-null   object
 3   gross_event_revenue_usd  8219 non-null   float64
 4   net_event_revenue_usd    8219 non-null   float64
 5   event_source             8219 non-null   object
 6   media_channel            8219 non-null   object
 7   campaign                 8219 non-null   object
 8   country_code             8219 non-null   object
 9   customer_user_id         8219 non-null   object
 10  platform_id              8219 non-null   object
dtypes: datetime64[ns](2), float64(2), object(7)
memory usage: 706.4+ KB

In [22]:
in_app_events.describe()

,install_date,event_date,gross_event_revenue_usd,net_event_revenue_usd
count,8219,8219,8219.000000,8219.000000
mean,2021-07-31 03:02:23.229103360,2022-03-13 16:47:14.797420800,17.048042,11.139964
min,2021-01-01 00:00:00,2021-01-01 00:00:00,0.000000,0.000000
25%,2021-01-19 00:00:00,2021-11-24 00:00:00,4.097750,2.793000
50%,2021-06-02 00:00:00,2022-04-15 00:00:00,6.923200,4.193000
75%,2021-12-31 00:00:00,2022-08-17 00:00:00,21.440000,14.000000
max,2021-12-31 00:00:00,2023-02-14 00:00:00,135.053200,75.629800
std,NaN,NaN,22.082981,14.576073

# Task 2

In [18]:
cost = pd.read_excel(
    io='./DA_task_1.xlsx',
    sheet_name='cost'
)